[Desktop Entry]
Encoding=UTF-8
Name=RadialMap View
Name[bg]=Изглед "радиална карта"
Name[cs]=Pohled s kruhovou mapou
Name[da]=Radialkort-visning
Name[de]=Radialansicht
Name[el]=Προβολή κυκλικού χάρτη
Name[es]=Vista en mapa radial
Name[et]=Radiaalse kaardi vaade
Name[gl]=Vista en  Mapa Radial
Name[it]=Vista a mappa radiale
Name[ja]=放射状グラフ表示
Name[ka]=RadialMap ხედი
Name[nb]=RadialMap-visning
Name[nl]=Radiale weergave
Name[pa]=RadialMap ਵੇਖੋ
Name[pt]=Vista em Mapa Radial
Name[pt_BR]=Visualização em Mapa Radial
Name[sr]=Приказ кружне мапе
Name[sr@Latn]=Prikaz kružne mape
Name[sv]=Radiell avbildningsvy
Name[tr]=RadyalHarita Görünümü
Name[uk]=Перегляд RadialMap
Name[xx]=xxRadialMap Viewxx
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libfilelight
Type=Service
Icon=view_filelight
