# KDE Config File
[Desktop Entry]
Name=Filelight
Name[ca]=Filelight
Name[de]=Filelight
Name[en_GB]=Filelight
Name[es]=Filelight
Name[et]=Filelight
Name[eu]=Filelight
Name[ko]=Filelight
Name[nb]=Filelight
Name[nds]=Filelight
Name[nl]=Filelight
Name[pt]=Filelight
Name[pt_BR]=Filelight
Name[ru]=Filelight
Name[sv]=Filelight
Name[tr]=Filelight
Name[uk]=Filelight
Name[x-test]=xxFilelightxx
Name[zh_CN]=Filelight
Name[zh_TW]=Filelight
GenericName=Disk Usage Statistics
GenericName[ast]=Estadístiques d'usu de discu
GenericName[ca]=Estadístiques d'ús de disc
GenericName[de]=Statistiken über Festplattenbelegung
GenericName[en_GB]=Disk Usage Statistics
GenericName[es]=Estadísticas de uso de discos
GenericName[et]=Kettakasutuse statistika
GenericName[eu]=Diskoen erabilerari buruzko estatistikak
GenericName[ko]=디스크 사용 통계
GenericName[nb]=Statistikk over diskbruk
GenericName[nds]=Fastplaatbruuk-Statistik
GenericName[nl]=Gebruiksstatistieken van schijven
GenericName[pa]=ਡਿਸਕ ਵਰਤੋਂ ਅੰਕੜੇ
GenericName[pt]=Estatísticas de Utilização do Disco
GenericName[pt_BR]=Estatísticas do uso do disco
GenericName[ru]=Использование дисков
GenericName[sv]=Statistik över diskanvändning
GenericName[tr]=Disk Kullanımı İstatistikleri
GenericName[uk]=Статистика використання диска
GenericName[x-test]=xxDisk Usage Statisticsxx
GenericName[zh_CN]=磁盘使用统计
GenericName[zh_TW]=磁碟用量統計
Type=Application
Exec=filelight %f
Icon=filelight
Comment=View disk usage information
Comment[ast]=Ver infomación d'usu de Discu
Comment[ca]=Veure la informació d'ús de disc
Comment[de]=Nutzungsinformationen zu Festplatten anzeigen
Comment[en_GB]=View disk usage information
Comment[es]=Muestra información sobre el uso de discos
Comment[et]=Kettakasutuse teabe kuvamine
Comment[eu]=Erakutsi diskoen erabilerari buruzko informazioa
Comment[ko]=디스크 사용량 보기
Comment[nb]=Vis informasjon om bruk av diskplass
Comment[nds]=Wiest Informatschonen över den Bruuk vun de Fastplaat
Comment[nl]=Informatie over schijfgebruik bekijken
Comment[pa]=ਡਿਸਕ ਵਰਤੋਂ ਬਾਰੇ ਜਾਣਕਾਰੀ ਵੇਖੋ
Comment[pt]=Ver a informação de utilização do disco
Comment[pt_BR]=Exibe as informações de utilização do disco
Comment[ru]=Наглядное представление файловой системы
Comment[sv]=Visa information om hårddiskanvändning
Comment[tr]=Disk kullanımını görüntüle
Comment[uk]=Перегляд інформації щодо використання дисків
Comment[x-test]=xxView disk usage informationxx
Comment[zh_CN]=查看磁盘使用信息
Comment[zh_TW]=檢視磁碟用量資訊
Terminal=false
MimeType=inode/directory;
X-DocPath=filelight/index.html
Categories=Qt;KDE;Utility;
