[Desktop Entry]
Encoding=UTF-8
Name=RadialMap View
Name[da]=Radialkort-visning
Name[es]=Vista en mapa radial
Name[et]=RadialMap vaade
Name[it]=Vista a mappa radiale
Name[nl]=Radiale weergave
Name[pa]=RadialMap ਵੇਖੋ
Name[pt]=Vista em Mapa Radial
Name[pt_BR]=Vista em Mapa Radial
Name[sr]=Приказ кружне мапе
Name[sr@Latn]=Prikaz kružne mape
Name[sv]=Radiell avbildningsvy
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libfilelight
Type=Service
Icon=view_filelight
