# KDE Config File
[Desktop Entry]
Name=Filelight
Name[bg]=Filelight
Name[da]=Filelight
Name[de]=Filelight
Name[el]=Filelight
Name[en_GB]=Filelight
Name[eo]=Filelight
Name[es]=Filelight
Name[et]=Filelight
Name[fr]=Filelight
Name[ga]=Filelight
Name[gl]=Filelight
Name[ja]=Filelight
Name[km]=Filelight
Name[nds]=Filelight
Name[pt]=Filelight
Name[pt_BR]=Filelight
Name[sv]=Filelight
Name[tr]=Filelight
Name[uk]=Filelight
Name[x-test]=xxFilelightxx
GenericName=Disk Usage Statistics
GenericName[bg]=Статистика на ползването на диска
GenericName[da]=Statistik over diskforbrug
GenericName[el]=Στατιστικά χρήσης δίσκου
GenericName[en_GB]=Disk Usage Statistics
GenericName[es]=Estadísticas sobre el uso del disco
GenericName[et]=Kettakasutuse statistika
GenericName[fr]=Statistiques d'utilisation des disques durs.
GenericName[gl]=Estatísticas da utilización do disco
GenericName[ja]=ディスクの使用状況
GenericName[km]=ស្ថិតិ​កា​រប្រើ​ថាស
GenericName[nds]=Fastplaatbruuk-Statistik
GenericName[pt]=Estatísticas de Utilização do Disco
GenericName[pt_BR]=Estatísticas do uso do disco
GenericName[sv]=Statistik över diskanvändning
GenericName[tr]=Disk Kullanım İstatistikleri
GenericName[uk]=Статистика використання диска
GenericName[x-test]=xxDisk Usage Statisticsxx
Type=Application
Exec=filelight %f
Icon=filelight
Comment=View disk usage information
Comment[bg]=Преглед на данни за използването на диска
Comment[da]=Vis information om diskforbrug
Comment[de]=Nutzungsinformationen zu Festplatten anzeigen
Comment[el]=Εμφάνιση πληροφοριών χρήσης δίσκου
Comment[en_GB]=View disk usage information
Comment[es]=Ver información de uso del disco
Comment[et]=Kettakasutuse teabe kuvamine
Comment[fr]=Voir de l'information sur l'utilisation des disques durs
Comment[ga]=Amharc ar fhaisnéis maidir le húsáid diosca
Comment[gl]=Mostra información do uso do disco
Comment[ja]=ディスクの使用状況を表示します
Comment[km]=មើល​ព័ត៌មាន​ប្រើ​ថាស​រឹង
Comment[nds]=Wiest Informatschonen över den Bruuk vun de Fastplaat
Comment[pt]=Ver informações de utilização do disco
Comment[pt_BR]=Exibe as informações de utilização do disco
Comment[sv]=Visa information om hårddiskanvändning
Comment[tr]=Disk kullanım bilgisini görüntüler
Comment[uk]=Перегляд інформації про використання дисків
Comment[x-test]=xxView disk usage informationxx
Terminal=false
MimeType=inode/directory;
Categories=Qt;KDE;Utility;
