# KDE Config File
[Desktop Entry]
Name=Filelight
Name[ar]=الملفّ​الخفيف
Name[ast]=Filelight
Name[bs]=Filelight
Name[ca]=Filelight
Name[ca@valencia]=Filelight
Name[cs]=Filelight
Name[da]=Filelight
Name[de]=Filelight
Name[el]=Filelight
Name[en_GB]=Filelight
Name[es]=Filelight
Name[et]=Filelight
Name[eu]=Filelight
Name[fi]=Filelight
Name[fr]=Filelight
Name[ga]=Filelight
Name[gl]=Filelight
Name[hr]=Filelight
Name[hu]=Filelight
Name[ia]=Filelight
Name[id]=Filelight
Name[it]=Filelight
Name[kk]=Filelight
Name[km]=Filelight
Name[ko]=Filelight
Name[lt]=Filelight
Name[lv]=Filelight
Name[mr]=फाईल-लाइट
Name[nb]=Filelight
Name[nds]=Filelight
Name[nl]=Filelight
Name[nn]=Filelight
Name[pa]=ਫਾਇਲਲਾਈਟ
Name[pl]=Filelight
Name[pt]=Filelight
Name[pt_BR]=Filelight
Name[ro]=Filelight
Name[ru]=Filelight
Name[sk]=Filelight
Name[sl]=Filelight
Name[sr]=Фајлајт
Name[sr@ijekavian]=Фајлајт
Name[sr@ijekavianlatin]=Filelight
Name[sr@latin]=Filelight
Name[sv]=Filelight
Name[th]=Filelight
Name[tr]=Filelight
Name[ug]=Filelight
Name[uk]=Filelight
Name[wa]=Filelight
Name[x-test]=xxFilelightxx
Name[zh_CN]=Filelight
Name[zh_TW]=Filelight
GenericName=Disk Usage Statistics
GenericName[ar]=إحصائيّات استخدام القرص
GenericName[ast]=Estadístiques d'usu de discos
GenericName[bs]=Statistika upotrebe diska
GenericName[ca]=Estadístiques d'ús de disc
GenericName[ca@valencia]=Estadístiques d'ús de disc
GenericName[cs]=Statistika použití disku
GenericName[da]=Statistik over diskforbrug
GenericName[de]=Statistik über Festplattenbelegung
GenericName[el]=Στατιστικά χρήσης δίσκου
GenericName[en_GB]=Disk Usage Statistics
GenericName[es]=Estadísticas de uso de discos
GenericName[et]=Kettakasutuse statistika
GenericName[eu]=Diskoen erabilerari buruzko estatistikak
GenericName[fi]=Levynkäyttötilastot
GenericName[fr]=Statistiques d'utilisation de disques
GenericName[ga]=Staitisticí maidir le húsáid diosca
GenericName[gl]=Estatísticas de uso do disco
GenericName[he]=סטטיסטיקות שימוש בכונן
GenericName[hr]=Statistika o upotrebi diska
GenericName[hu]=Lemezhasználati statisztika
GenericName[ia]=Statisticas de uso de disco
GenericName[id]=Statistik Penggunaan Disk
GenericName[it]=Statistiche uso del disco
GenericName[kk]=Дискінің статистикасы
GenericName[km]=ស្ថិតិ​ប្រើប្រាស់​ថាស
GenericName[ko]=디스크 사용 통계
GenericName[lt]=Disko naudojimo statistika
GenericName[lv]=Diska izlietojuma statistika
GenericName[mr]=डिस्क वापर आकडेवारी
GenericName[nb]=Statistikk over diskbruk
GenericName[nds]=Fastplaatbruuk-Statistik
GenericName[nl]=Gebruiksstatistieken van schijven
GenericName[nn]=Statistikk over diskbruk
GenericName[pa]=ਡਿਸਕ ਵਰਤੋਂ ਅੰਕੜੇ
GenericName[pl]=Statystyki wykorzystania dysku
GenericName[pt]=Estatísticas de Utilização do Disco
GenericName[pt_BR]=Estatísticas de uso do disco
GenericName[ro]=Statistici utilizare disc
GenericName[ru]=Использование дисков
GenericName[sk]=Štatistiky využitia disku
GenericName[sl]=Statistika uporabe diska
GenericName[sr]=Статистика искоришћености дискова
GenericName[sr@ijekavian]=Статистика искоришћености дискова
GenericName[sr@ijekavianlatin]=Statistika iskorišćenosti diskova
GenericName[sr@latin]=Statistika iskorišćenosti diskova
GenericName[sv]=Statistik över diskanvändning
GenericName[th]=สถิติการใช้งานพื้นที่ดิสก์
GenericName[tr]=Disk Kullanımı İstatistikleri
GenericName[uk]=Статистика використання диска
GenericName[x-test]=xxDisk Usage Statisticsxx
GenericName[zh_CN]=磁盘使用统计
GenericName[zh_TW]=磁碟用量統計
Type=Application
Exec=filelight %f
Icon=filelight
Comment=View disk usage information
Comment[ar]=اعرض معلومات استخدام القرص
Comment[ast]=Mira la información d'usu de discos
Comment[bs]=Pogledajte podatke o upotrebi diska
Comment[ca]=Veure la informació d'ús de disc
Comment[ca@valencia]=Veure la informació d'ús de disc
Comment[cs]=Zobrazit využití disku
Comment[da]=Vis information om diskforbrug
Comment[de]=Nutzungsinformationen zu Festplatten anzeigen
Comment[el]=Εμφάνιση πληροφοριών χρήσης δίσκου
Comment[en_GB]=View disk usage information
Comment[es]=Muestra información sobre el uso de discos
Comment[et]=Kettakasutuse teabe kuvamine
Comment[eu]=Ikusi diskoen erabilerari buruzko informazioa
Comment[fi]=Näytä levynkäyttö
Comment[fr]=Afficher les informations d'utilisation de disques
Comment[ga]=Taispeáin úsáid diosca
Comment[gl]=Acceda a información de uso do disco.
Comment[hr]=Prikaži informacije o upotrebi diska
Comment[hu]=Lemezhasználati információk megjelenítése
Comment[ia]=Vide information de uso de disco
Comment[id]=Tampilan informasi penggunaan disk
Comment[it]=Mostra l'uso del disco
Comment[ja]=ディスク使用状況を表示
Comment[kk]=Дискідегі орынды көрсету
Comment[km]=មើល​ព័ត៌មាន​អំពី​ការ​ប្រើប្រាស់​ថាស
Comment[ko]=디스크 사용량 보기
Comment[lt]=Žiūrėti disko naudojimo informaciją
Comment[lv]=Skata diska vietas izlietojumu
Comment[mr]=डिस्क वापर माहिती बघा
Comment[nb]=Vis informasjon om bruk av diskplass
Comment[nds]=Wiest Informatschonen över den Bruuk vun de Fastplaat
Comment[nl]=Informatie over schijfgebruik bekijken
Comment[nn]=Vis informasjon om diskbruk
Comment[pa]=ਡਿਸਕ ਵਰਤੋਂ ਬਾਰੇ ਜਾਣਕਾਰੀ ਵੇਖੋ
Comment[pl]=Zobacz informacje o wykorzystaniu dysku
Comment[pt]=Ver a informação de utilização do disco
Comment[pt_BR]=Exibe as informações de utilização do disco
Comment[ro]=Vezi informații despre utilizarea discului
Comment[ru]=Наглядное представление файловой системы
Comment[sk]=Zobrazenie informácií o využití disku
Comment[sl]=Oglejte si statistiko uporabe diska
Comment[sr]=Приказ података о искоришћености дискова
Comment[sr@ijekavian]=Приказ података о искоришћености дискова
Comment[sr@ijekavianlatin]=Prikaz podataka o iskorišćenosti diskova
Comment[sr@latin]=Prikaz podataka o iskorišćenosti diskova
Comment[sv]=Visa information om hårddiskanvändning
Comment[th]=แสดงข้อมูลการใช้งานพื้นที่ดิสก์
Comment[tr]=Disk kullanımını görüntüle
Comment[ug]=دىسكىنىڭ ئىشلىتىلىش ئۇچۇرلىرىنى كۆرسىتىش پروگراممىسى
Comment[uk]=Перегляд інформації щодо використання дисків
Comment[wa]=Vey les informåcions so l' eployaedje del deure plake
Comment[x-test]=xxView disk usage informationxx
Comment[zh_CN]=查看磁盘使用信息
Comment[zh_TW]=檢視磁碟用量資訊
Terminal=false
MimeType=inode/directory;
X-DocPath=filelight/index.html
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.filelight
