# KDE Config File
[Desktop Entry]
Name=Filelight
Name[ar]=كشاف الملفات
Name[az]=Filelight
Name[bg]=Filelight
Name[bs]=Filelight
Name[ca]=Filelight
Name[ca@valencia]=Filelight
Name[cs]=Filelight
Name[da]=Filelight
Name[de]=Filelight
Name[el]=Filelight
Name[en_GB]=Filelight
Name[es]=Filelight
Name[et]=Filelight
Name[eu]=Filelight
Name[fi]=Filelight
Name[fr]=Filelight
Name[ga]=Filelight
Name[gl]=Filelight
Name[hi]=फ़ाइललाईट
Name[hr]=Filelight
Name[hu]=Filelight
Name[ia]=Filelight
Name[id]=Filelight
Name[ie]=Filelight
Name[is]=Filelight
Name[it]=Filelight
Name[ka]=Filelight
Name[kk]=Filelight
Name[km]=Filelight
Name[ko]=Filelight
Name[lt]=Filelight
Name[lv]=Filelight
Name[mr]=फाईल-लाइट
Name[nb]=Filelight
Name[nds]=Filelight
Name[nl]=Filelight
Name[nn]=Filelight
Name[pa]=ਫਾਇਲਲਾਈਟ
Name[pl]=Filelight
Name[pt]=Filelight
Name[pt_BR]=Filelight
Name[ro]=Filelight
Name[ru]=Filelight
Name[sk]=Filelight
Name[sl]=Filelight
Name[sr]=Фајлајт
Name[sr@ijekavian]=Фајлајт
Name[sr@ijekavianlatin]=Filelight
Name[sr@latin]=Filelight
Name[sv]=Filelight
Name[ta]=ஃபைல்-லைட்
Name[th]=Filelight
Name[tr]=Filelight
Name[ug]=Filelight
Name[uk]=Filelight
Name[wa]=Filelight
Name[x-test]=xxFilelightxx
Name[zh_CN]=Filelight 磁盘占用查看器
Name[zh_TW]=Filelight
GenericName=Disk Usage Statistics
GenericName[ar]=إحصائيّات استخدام القرص
GenericName[az]=Disk İstifadəsi Statistikaları
GenericName[bg]=Статистика на използване на диска
GenericName[bs]=Statistika upotrebe diska
GenericName[ca]=Estadístiques d'ús del disc
GenericName[ca@valencia]=Estadístiques d'ús del disc
GenericName[cs]=Statistika použití disku
GenericName[da]=Statistik over diskforbrug
GenericName[de]=Statistik über Festplattenbelegung
GenericName[el]=Στατιστικά χρήσης δίσκου
GenericName[en_GB]=Disk Usage Statistics
GenericName[es]=Estadísticas de uso de discos
GenericName[et]=Kettakasutuse statistika
GenericName[eu]=Diskoen erabilerari buruzko estatistikak
GenericName[fi]=Levynkäyttötilastot
GenericName[fr]=Statistiques d'utilisation de disques
GenericName[ga]=Staitisticí maidir le húsáid diosca
GenericName[gl]=Estatísticas de uso do disco
GenericName[he]=סטטיסטיקות שימוש בכונן
GenericName[hi]=डिस्क उपयोग आंकड़े
GenericName[hr]=Statistika o upotrebi diska
GenericName[hu]=Lemezhasználati statisztika
GenericName[ia]=Statisticas de uso de disco
GenericName[id]=Statistik Penggunaan Disk
GenericName[ie]=Statistica del usage de disc-spacie
GenericName[is]=Tölfræði notkunar á diskaplássi
GenericName[it]=Statistiche uso del disco
GenericName[ka]=დისკის გამოყენების სტატისტიკა
GenericName[kk]=Дискінің статистикасы
GenericName[km]=ស្ថិតិ​ប្រើប្រាស់​ថាស
GenericName[ko]=디스크 사용 통계
GenericName[lt]=Disko naudojimo statistika
GenericName[lv]=Diska izlietojuma statistika
GenericName[mr]=डिस्क वापर आकडेवारी
GenericName[nb]=Statistikk over diskbruk
GenericName[nds]=Fastplaatbruuk-Statistik
GenericName[nl]=Gebruiksstatistieken van schijven
GenericName[nn]=Statistikk over diskbruk
GenericName[pa]=ਡਿਸਕ ਵਰਤੋਂ ਅੰਕੜੇ
GenericName[pl]=Statystyki wykorzystania dysku
GenericName[pt]=Estatísticas de Utilização do Disco
GenericName[pt_BR]=Estatísticas de uso do disco
GenericName[ro]=Statistici utilizare disc
GenericName[ru]=Использование дисков
GenericName[sk]=Štatistiky využitia disku
GenericName[sl]=Statistika uporabe diska
GenericName[sr]=Статистика искоришћености дискова
GenericName[sr@ijekavian]=Статистика искоришћености дискова
GenericName[sr@ijekavianlatin]=Statistika iskorišćenosti diskova
GenericName[sr@latin]=Statistika iskorišćenosti diskova
GenericName[sv]=Statistik över diskanvändning
GenericName[th]=สถิติการใช้งานพื้นที่ดิสก์
GenericName[tr]=Disk Kullanım İstatistikleri
GenericName[uk]=Статистика використання диска
GenericName[x-test]=xxDisk Usage Statisticsxx
GenericName[zh_CN]=磁盘使用情况统计
GenericName[zh_TW]=磁碟用量統計
Type=Application
Exec=filelight %u
Icon=filelight
Comment=Show disk usage and delete unused files
Comment[ar]=اعرض المساحة المستخدمة من القرص واحذف الملفات غير المستخدمة
Comment[bg]=Показване на използването на диска и изтриване на неизползвани файлове
Comment[ca]=Mostra l'ús del disc i suprimeix els fitxers sense ús
Comment[ca@valencia]=Mostra l'ús del disc i suprimix els fitxers sense ús
Comment[es]=Mostrar el uso del disco y borrar archivos no usados
Comment[eu]=Diskoaren erabilera erakustea eta erabili gabeko fitxategiak ezabatzea
Comment[fi]=Näytä levynkäyttö ja poista käyttämättömiä tiedostoja
Comment[fr]=Afficher l'utilisation du disque et supprimer les fichiers non utilisés
Comment[ie]=Monstrar li usage de disco e remover ínnecessi files
Comment[it]=Mostra l'utilizzo del disco ed elimina i file inutilizzati
Comment[nl]=Schijfgebruik tonen en ongebruikte bestanden verwijderen
Comment[nn]=Visualiser diskbruk og slett ubrukte filer
Comment[pt]=Mostrar a utilização do disco e apagar os ficheiros não usados
Comment[sk]=Zobraziť využitie disku a vymazať nepoužité súbory
Comment[sl]=Prikazuje rabo diska in briše neuporabljene datoteke
Comment[tr]=Disk kullanımına bakın ve kullanılmayan dosyaları silin
Comment[uk]=Показ даних щодо використання диска і вилучення зайвих файлів
Comment[x-test]=xxShow disk usage and delete unused filesxx
Keywords=disk;drive;space;storage;usage;
Keywords[ar]=قرص;مساحة;تخزين;استعمال;متبقي;حر;دسك;
Keywords[az]=disk;sahə;yaddaş;istifadəsi;
Keywords[bg]=диск;място;съхранение;използване;
Keywords[ca]=disc;unitat;espai;emmagatzematge;ús;
Keywords[ca@valencia]=disc;unitat;espai;emmagatzematge;ús;
Keywords[de]=Festplatte;Platte;Speicher;Speicherplatz;Verwendung;
Keywords[en_GB]=disk;drive;space;storage;usage;
Keywords[es]=disco;unidad;espacio;almacenamiento;uso;
Keywords[eu]=diskoa;unitatea;espazioa;lekua;biltegia;erabilera;
Keywords[fi]=levy;asema;levytila;tila;tallennustila;käyttö;
Keywords[fr]=disque ; lecteur ; espace ; stockage ; utilisation ;
Keywords[hu]=lemez;meghajtó;terület;tároló;használat;
Keywords[ia]=disco;drive;spatio;immagazinage;uso;
Keywords[ie]=disco;unité;spacie;magasinage;usage;
Keywords[is]=diskur;drif;rými;pláss;geymslurými;notkun;
Keywords[it]=disco;drive;spazio;archiviazione;utilizzo;
Keywords[ka]=disk;drive;space;storage;usage;
Keywords[ko]=disk;drive;space;storage;usage;디스크;드라이브;공간;저장소;스토리지;사용;사용량;
Keywords[nl]=schijf;schijfstation;ruimte;opslag;gebruik;
Keywords[nn]=disk;harddisk;stasjon;plass;diskplass;lagring;bruk;
Keywords[pl]=dysk;napęd;przestrzeń;przechowywanie;użycie;
Keywords[pt]=disco;unidade;espaço;armazenamento;utilização;
Keywords[pt_BR]=disco;unidade;espaço;armazenamento;uso;
Keywords[ro]=disc;unitate;spațiu;stocare;utilizare;
Keywords[ru]=disk;drive;space;storage;usage;диск;место;хранилище;использование
Keywords[sk]=disk;jednotka;priestor;úložisko;použitie;
Keywords[sl]=disk;pogon;prostor;shranjevanje;uporaba;raba;
Keywords[sv]=disk;drivenhet;utrymme;lagring;användning;
Keywords[tr]=disk;sürücü;alan;depolama;kullanım;
Keywords[uk]=disk;drive;space;storage;usage;диск;пристрій;місце;зберігання;сховище;використання;вжиток;
Keywords[x-test]=xxdiskxx;xxdrivexx;xxspacexx;xxstoragexx;xxusagexx;
Keywords[zh_CN]=disk;drive;space;storage;usage;磁盘;驱动器;存储;空间;占用;使用情况;空间占用;剩余空间;
Keywords[zh_TW]=disk;drive;space;storage;usage;磁碟用量;硬碟用量;
MimeType=inode/directory;
X-DocPath=filelight/index.html
Categories=Qt;KDE;Utility;
X-DBUS-ServiceName=org.kde.filelight
