[Desktop Entry]
Actions=filelight
Type=Service
MimeType=inode/directory;
X-KDE-MaxNumberOfUrls=1

[Desktop Action filelight]
Name=View Disk Usage Statistics
Name[bg]=Преглед на статистика на използване на диска
Name[ca]=Visualització d'estadístiques d'ús del disc
Name[ca@valencia]=Visualització d'estadístiques d'ús del disc
Name[es]=Ver estadísticas del uso de discos
Name[he]=הצגת סטטיסטיקת תפוסת כונן
Name[ka]=დისკის გამოყენების სტატისტიკის ნახვა
Name[nl]=Gebruiksstatistieken van schijven bekijken
Name[sl]=Pogled statistike uporabe diska
Name[tr]=Disk Kullanımı İstatistiklerini Görüntüle
Name[uk]=Перегляд статистики використання диска
Name[x-test]=xxView Disk Usage Statisticsxx
Name[zh_CN]=查看磁盘占用情况统计信息
Icon=filelight
Exec=filelight %u
