# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Filelight
Generic Name=Disk Usage Statistics
Type=Application
Exec=filelight %u
Icon=filelight.png
Comment=View disk usage information
Comment[sv]=Visa information om diskanvändning
Terminal=0
MimeType=inode/directory
