# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=Filelight
Name[xx]=xxFilelightxx
Generic Name=Disk Usage Statistics
Type=Application
Exec=filelight %u
Icon=filelight.png
Comment=View disk usage information
Comment[da]=Vis information om diskforbrug
Comment[es]=Ver información sobre el uso de los discos
Comment[pt]=Informação visual da utilização do disco
Comment[pt_BR]=Ver informações de uso do disco
Comment[sv]=Visa information om diskanvändning
Comment[xx]=xxView disk usage informationxx
Terminal=0
MimeType=inode/directory
Categories=Qt;KDE;Utility
